@media(min-width:600px){
    .main-text {
        max-width: 600px;
      }
      main {
        max-width: 1200px;
      }
      h1 {
        font-size: 60px;
      }
      h2 {
        font-size: 50px;
      }
}